h1 {
    font-size: 160%;
}

.hero h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    display: block;
    font-style: normal;
    /* color: #b55400; */
    color: crimson;
    transition: all ease-in-out 0.4s;
    font-family: 'Indie Flower', cursive;
}

.hero h1:hover {
    transform: scale(2.4);
}

h3 {
    color: antiquewhite;
    /* overflow: hidden; */
    font-family: 'Indie Flower', cursive;
    /* margin:30px 0px 30px ; */
    
}
h2{font-size: xx-large;
font-weight: 800; color: antiquewhite;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;}
body {
    background-color: #222831;
    font-family: 'Indie Flower', cursive;
    /* #3e4a61; */
    /* linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)); */
}

html {
    scroll-behavior: smooth;
}
hr{
    
    border-color: crimson;
    border-style: inset;
    border-top-width: thick;
    /* margin: 5px; */
    /* height: 30px;
    width: initial; */
}

.hero {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: grid;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(34, 40, 49, .6), rgba(34, 40, 49, 1)), url("../images/aditya-chinchure-hyN9aU9Tm-c-unsplash.jpg");
    background-color: #222831;
    background-blend-mode: normal;
}

.card {
    background-image: url("../images/blankCard2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: difference;
    width: 100px;
    height: 100px;
    margin: 3px;
    border-start-start-radius: 10px;
    font-family: 'Indie Flower', cursive;
}

.hero a .btn {
    z-index: 5;
}


#play {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#play .btn {
    margin: 0 20px;
    height: max-content;
    width: max-content;
    font-size: xx-large;
    transition: all ease-in-out 0.8s;
}

#play .btn:hover {
    transform: scale(1.3);
}

#meld,
#set {
    background-image: url("../images/blankCard1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    border-radius: 10px;
    width: 150px;
    height: 250px;
    margin: 3px;
}

#deck {
    margin-left: 60px;
    padding-left: 60px;
    border-radius: 20px;
}

#deck img {
    filter: drop-shadow(3px 8px 20px grey);
    border-radius: 10px;
    width: 150px;
    height: 250px;
}

#deck img:hover {
    filter: drop-shadow(3px 8px 20px #b55400);
}

.stack {
    justify-content: center;
    display: inline-flex;
    align-content: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.rack {
    justify-content: center;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.hero a {
    display: block;
    size: 10vw;
    /* padding: 1em; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    justify-content: space-between;
}
#tutorial{
    padding: 30px 0px 0px;
}

table,th{
    
    border-width: 5px;
    font-size: xx-large;
    border-style: solid;
    color: #009ab5;
}
table{
    margin-left: 60%;
}
.players{
    
    justify-content: space-evenly;
}

.tutbtn {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    filter: invert(1);
}

.tutbtn img {
    /* background-image: url("../images/light-bulb-icon.svg"); */
    width: 4vw;
    height: 4vw;
    
}
.tutbtn{top: 30px;
    left: 30px;}
#tldr{
    
    height: inherit;

    width: inherit;
    align-self: center;
    justify-content: center;
    display: flex;
}
#fastfwd{
padding: 30px 0px 30px;
}

h4 {
    overflow: auto;
    margin-left: 6px;
}

h4 #meld {
    margin-left: 10px;
}

.card h6 {
    position: fixed;
    align-self: flex-end;
    margin-right: 6px;
}

.card a {
    color: #b55400;
}

.card a:hover {
    color: #009ab5;
}

.card h2 {
    text-align: center;
    margin-top: 0px;
    font-family: 'Indie Flower', cursive;
}

#set #setList,
#meld #meldList {
    text-align: center;
    position: relative;
}

.top {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    /* background-color: #222832; */
    text-align: center;
    /* box-shadow: 2px 2px 3px #222222; */
    align-content: center;
    justify-content: center;
    /* display: inline-grid; */
    filter: invert(1);
}